.feyman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
  color: #2f80ed;
}

:hover.feyman__link {
  opacity: 0.5;
  transition-property: opacity;
  transition-duration: 1s;
}