
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* шрифты*/

.two-columns__paragrapf_font {
  line-height: 32px;
  font-size: 24px;
  font-weight: normal;
}

/*универсальные блоки и классы*/
.logo {
  height: 32px;
  width: 228px;
  z-index: 3;

}

.table_theme_dark{
  margin: 0 auto 90px;
}

.section-title {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  width: 60%;
  line-height: 1.5;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  width: 60%;
  margin: 20px auto 0;
  text-align: center;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin: 0 auto 100px;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  margin: 0;
}

.table__text {
  margin: 20px 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/*блок header и его настройки*/
.header {
  height: 100vh;
  width: 100%;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
  display: flex;
  position: relative;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  margin:  0 0 0 64px;
  display: flex;
  align-items: center;
  z-index: 3;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;

}

.header__subtitle {
  position: absolute;
  text-align: left;
  bottom: 30px;
  left: 64px;
  width: 388px;
  z-index: 3;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color:  #2f80ed;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-image: url(../images/two_again.png);
  background-size: cover;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}
/*блок discription и его найстройки*/
.discription {
  margin: 100px auto 0;
  width: 80%;
  min-width: 784px;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
}

.two-columns__main-text {
  width: 80%;

}

.two-columns__main-text:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.two-columns__paragrapf{
  margin: 0 0 30px 0;
}

/*блок digits и его настройки*/
.digits {
  width: 100%;
  margin: 100px 0;
}

/*блок feyman и его настройки*/
.feynman {
  position: relative;
  min-height: 890px;
  width: 100%;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  padding-top: 100px;
}

.feymann__title {
  width: 648px;
  margin: 0 auto;
  text-align: center;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.feymann__subtitle {
  margin-top: 70px;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;

}

.feyman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
  color: #2f80ed;
}

/*блок kaufman и его настройки*/
.kaufman {
  background-color:  #1f1f1f;
  position: relative;
  overflow: hidden;
  color: white;
}

.kaufman__triangle {
position: absolute;
top: 0;
right: -210px;
width: 877px;
height: 877px;
background-image: url(../images/kaufman-triangle.svg);
background-size: cover;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
}

.section-title_theme_dark {
  margin-top: 90px;
}

.section-subtitle_theme_dark {

}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

/*блок footer и его настройки*/
.footer {
 background-color: #1f1f1f;
 width: 100%;
 box-sizing: border-box;
 min-height: 350px;
 padding: 60px 0 40px;
 color: #f2f2f2;
}

.logo_place_footer {

}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content-copyright{
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column_content-info {

}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-link {
  text-decoration: none;
  color: #f2f2f2;
}

.footer__column-links {
  margin: 20px 0 16px;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  font-size: 18px;
  font-style: normal;
}

.footer__social-icon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}



